<h1>Novedades</h1>
<div class="card-columns">
    <div *ngFor="let novedad of novedades" class="card" style="width: 18rem;">
        <img [src]='novedad.images[0].url' class="card-img-top" [alt]="novedad.name">
        <div class="card-body">
            <h5 class="card-title">{{novedad.name}}</h5>
            <p *ngFor="let artista of novedad.artists" class="card-text">{{artista.name}} </p>
            <a [href]="novedad.external_urls.spotify" class="btn btn-success">Go SpotiFy </a>
        </div>
    </div>
</div>