<div class="container row ">
    <div class="md-col-12">
        <div class="card p-3 mb-2 bg-secondary text-white" style="width: 18rem;">
            <img class="img-circle" src="assets/img/FOTO_ROBERTO.JPG" alt="...">
            <div class="card-body" routerLinkActive="active">
                <h5 class="card-title">Aplicacion Angular/Bootstrap</h5>
                <p class="card-text">Esta aplicación web ha sido realizada durante el curso de Angular en el año 2020 durante el gran confinamiento del covid-19. Espero que os guste.... </p>

                <a class="btn btn-success" routerLink="home">Volver </a>

            </div>
        </div>
    </div>
</div>